:root{
    /* colors */
    --rich-black-fogra-29: #0B111D;
    --middle-blue-green_40: rgba(134, 228, 219, 0.4);
    --midnight-green: #005761;
    --midnight-green_a25: rgba(0, 87, 97, 0.25);
    --independece: #565771;
    --verdigris: #00ADB3;
    --ming: #116069;
    --space-cadet: #222F59;
    --eerie-black: #212121;
    --alice-blue: #ECF3f4;
    --gray-web: #808080;
    --gainsboro: #DEDEDE;
    --white: #FFFFFF;
    --white_a20: rgba(255, 255, 255, 0.2);
    --white_a10: rgba(255, 255, 255, 0.1);
    --black: #000000;

    /* typography */
    --ff-oswald: 'Oswald', sans-serif;
    --ff-rubik: 'Rubik', sans-serif;

    --headline-lg: 5rem;
    --headline-md: 3rem;
    --headline-sm: 2rem;
    --title-lg: 1.8rem;
    --title-md: 1.5rem;
    --title-sm: 1.4rem;

    --fw-500: 500;
    --fw-700: 700;

    /* spacing */
    --section-padding: 120px;

    /* box-shadow */
    --shadow-1: 0px 2px 20px hsla(209, 36%, 72%, 0.2);
    --shadow-2: 0 4px 16px hsla(0, 0%, 0%, 0.06);

    /* border-radius  */
    --radius-circle: 50%;
    --radius-12: 12px;
    --radius-6: 6px;
    --radius-4: 4px;

    /* transition */
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --transition-3: 1s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a,
img,
span,
time,
input,
button,
ion-icon{
    display: block;
}

a{
    color: inherit;
    text-decoration: none;
}

img{
    height: auto;
}

input,button{
    background: none;
    border: none;
    font: inherit;
}

input{
    width: 100%;
    outline: none;
}

button{
    cursor: pointer;
}

ion-icon{
    pointer-events: none;
}

address{
    font-style: normal;
}

html{
    font-size: 10px;
    font-family: var(--ff-rubik);
    scroll-behavior: smooth;
}

body{
    background-color: var(--white);
    font-size: 1.6rem;
    color: var(--independece);
    line-height: 1.8;
    overflow: hidden;
}

body.loaded{
    overflow: visible;
}

body.nav-active{
    overflow: hidden;
}

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--verdigris);
    display: grid;
    place-items: center;
    z-index: 6;
    transition: var(--transition-1);
}

.preloader.loaded{
    visibility: hidden;
    opacity: 0;
}

.preloader .circle{
    width: 50px;
    height: 50px;
    border: 4px solid var(--white);
    border-radius: var(--radius-circle);
    border-block-start-color: transparent;
    animation: rotate360 1s ease infinite;
}

@keyframes rotate360{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(1turn);
    }
}